body {
    background-image: url(bc414fa5a04ca937b4f155b6a10b4a60.jpg);
    background-size: cover;
    
}
.form{
    background-color: rgb(255, 255, 255);
    margin-top:190px;
    text-align:center;
    width:500px;
    margin-left: 450px;
    padding:10px;
    border-radius:10px;
    display: inline-block;
    width: 600px;
}
h1{
    color:blue;
}
h2{
    color:darkgray;
}
h3{
    width: 50px;
}
#score{
    display: inline-block;
    margin-right: 90px;
}
#time{
    display:inline-block;
    margin-left: 90px;
}
button{
    width: 250px;
    display:inline-block;
    background-color: rgba(2, 249, 249, 0.273);
    height: 50px;
    margin: 5px;
    border-radius:10px;
}
input{
    width: 450px;
    height: 30px;
    margin: 10px;
    margin-left: 70px;
    border-radius: 10px;
    outline-color: rgb(255, 0, 0);
}
